<nav class="navbar navbar-inverse">
	<div class="container-fluid">
		<div class="navbar-header">
			<a href="#" class="navbar-brand">Spitter</a>
		</div>
		<div class="colapse navbar-collapse">
			<ul class="nav navbar-nav">
				<li><a href="/ViewAccount">View Account</a></li>
				<li><a href="/AllSpitters">View all Spitters</a></li>
				<li><a href="/UpdateAccount">Update Account</a></li>
				<li><a href="/DeleteAccount">Delete Account</a></li>
				<li><a href="/Spittles">Spittles</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
      			<li><a href="/Register"><span class="glyphicon glyphicon-log-in"></span> Sign Up</a></li>
    		</ul>
		</div>
	</div>
</nav>