<br />
<br />
<div class="container">
    <table class="table">
        <thead class="p-3 mb-2 bg-info text-white">
          <tr>
            <th >Id</th>
            <th >Spittles</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody class="p-3 mb-2 bg-info text-white">
            <td>1</td>
            <td>This is a spittle</td>
            <td>
              <button type="button" class="btn btn-primary">Update</button>
              &nbsp;&nbsp;<button type="button" class="btn btn-primary">Delete</button>
            </td>
        </tbody>
      </table>
</div>
