<div class="container">
  <table class="table">
    <thead class="p-3 mb-2 bg-info text-white">
      <tr>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Username</th>
        <th>Password</th>
        <th>Spittles</th>
      </tr>
    </thead>
    <tbody class="p-3 mb-2 bg-info text-white">
      <tr *ngFor=" let spitter of spitters">
          <td>{{spitter.firstname}}</td>
          <td>{{spitter.lastname}}</td>
          <td>{{spitter.username}}</td>
          <td>{{spitter.password}}</td>
        <td><button type="button" class="btn btn-primary" (click)="toggle()">Spittles</button></td>

      </tr>
      <tr>

          <td>Firstname</td>
  
          <td>Lastname</td>
  
          <td>Username</td>
  
          <td>Password</td>
  
          <td><button type="button" class="btn btn-primary" (click)="toggle()">Spittles</button>
          </td>
  
        </tr>
    </tbody>
  </table>

  </div>
<div class="container" *ngIf="show">
    <div>
        <app-spittles></app-spittles>
    </div>